<div class="sidenav-header">
  <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
    aria-hidden="true" id="iconSidenav"></i>
  <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard "
    target="_blank">
    <img src="/../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
    <span class="ms-1 font-weight-bold text-white"> {{name}}</span>
  </a>
</div>
<hr class="horizontal light mt-0 mb-2">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <!-- Home -->
    <li class="nav-item">
      <a [class]="changeClass('/')" href="#">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">home</i>
        </div>
        <span class="nav-link-text ms-1">Anasayfa</span>
      </a>
    </li>
    <!-- Cari Mutabakatlar -->
    <li class="nav-item" *ngIf="accountReconciliation">
      <a [class]="changeClass('')"  href="#">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">description</i>
        </div>
        <span class="nav-link-text ms-1">Cari Mutabakatlar</span>
      </a>
    </li>
    <!-- Ba-Bs Mutabakatlar -->
    <li class="nav-item" *ngIf="baBsReconciliation">
      <a class="nav-link text-white " href="../pages/billing.html">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">library_books</i>
        </div>
        <span class="nav-link-text ms-1">Ba-Bs Mutabakatlar</span>
      </a>
    </li>
    <li class="nav-item mt-3">
      <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Kayıtlar</h6>
    </li>
    <!-- Cariler -->
    <li class="nav-item" *ngIf="currencyAccount">
      <a [class]="changeClass('/currency-account')" href="/currency-account">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">trending_up</i>
        </div>
        <span class="nav-link-text ms-1">Cariler</span>
      </a>
    </li>
    <!-- Kullanıcılar -->
    <li class="nav-item" *ngIf="user">
      <a [class]="changeClass('/user')" href="/user">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">perm_identity</i>
        </div>
        <span class="nav-link-text ms-1">Kullanıcılar</span>
      </a>
    </li>
    <!-- Şirketler -->
    <li class="nav-item" *ngIf="company">
      <a [class]="changeClass('/company')" href="/company">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">work</i>
        </div>
        <span class="nav-link-text ms-1">Şirketler</span>
      </a>
    </li>
    <!-- Mail Parametreleri -->
    <li class="nav-item" *ngIf="mailParameter">
      <a class="nav-link text-white " href="../pages/sign-up.html" data-bs-toggle="modal"
      data-bs-target="#mailParameterModal" (click)="getById()">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">alternate_email</i>
        </div>
        <span class="nav-link-text ms-1">Mail Parametreleri</span>
      </a>
    </li>
    <!-- Mail Şablonu -->
    <li class="nav-item" *ngIf="mailTemplate">
      <a class="nav-link text-white " href="../pages/sign-up.html">
        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="material-icons opacity-10">mail</i>
        </div>
        <span class="nav-link-text ms-1">Mail Şablonu</span>
      </a>
    </li>
  </ul>
</div>
<div class="sidenav-footer position-absolute w-100 bottom-0 ">
  <div class="mx-3">
    <a class="btn bg-gradient-primary mt-4 w-100" href="#" (click)="logout()" type="button"><i
        class="material-icons opacity-10">exit_to_app</i> Çıkış Yap</a>
  </div>
</div>


 <!-- MailParameter Modal -->
<div class="modal fade" id="mailParameterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Mail Parametreleri</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="updateForm">
          <div [class]="styleInputChange(email)">
            <label class="form-label">Email</label>
            <input type="text" formControlName="email" [(ngModel)]="email" class="form-control" />
          </div>
          <div [class]="styleInputChange(password)">
            <label class="form-label">Password</label>
            <input type="text" formControlName="password" [(ngModel)]="password" class="form-control" />
          </div>
          <div [class]="styleInputChange(smtp)">
            <label class="form-label">Smtp</label>
            <input type="text" formControlName="smtp" [(ngModel)]="smtp" class="form-control" />
          </div>
          <div [class]="styleInputChange(port)">
            <label class="form-label">Port</label>
            <input type="number" formControlName="port" [(ngModel)]="port" class="form-control" />
          </div>
          <div class="form-check form-switch d-flex align-items-center mb-3">
            <input class="form-check-input" type="checkbox" id="ssl" formControlName="ssl" checked>
            <label class="form-check-label mb-0 ms-2" for="ssl">SSL</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-info" (click)="update()"
          data-bs-dismiss="modal">Güncelle</button>
        <button type="button" class="btn bg-gradient-secondary" id="closeMailParameterModal"
          data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
